<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nosotros | Aristos Soluciones</title>
    <% include partials/head.html %>

</head>
<body>
    <section class="nosotros">
          <header class="encabezado navbar fixed-top">

            <% include partials/navegacion.html %>
         </header>

          <div class="texto-encabezado text-center">
              <div class="container">
                <h1 class="display-4 img_sublogo wow bounce" >Nosotros</h1>
                <p class="wow bounce" data-wow-delay=".2s">Ofrecemos un amplio portafolio de servicios acorde a tus necesidades </p>
                
              </div>
          </div>
          <div class="flecha-abajo">
              <a data-scroll href="#ir"><i  class="fa fa-arrow-down" aria-hidden="true"></i></a>
          </div>
    </section>
    <main class="informacion-nosotros" id="ir">  
        <div class="container">
            <div class="row">
                <article class="col-12 col-md-8 my-4" >
                    <h2>¿Quienes somos?</h2>
                    <p>Somos una empresa colombiana que brinda a nuestros clientes soluciones para el mejoramiento en la gestión de sus procesos, con profesionales calificados, que nos permite ofrecer productos y servicios de alta calidad, asegurando la satisfacción de nuestros clientes.</p>

                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                MISION
                                </a>
                            </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                <p> 
                                    Ofrecemos productos y servicios a la medida a través de nuestras líneas de negocio, integrándolos a los procesos de apoyo, satisfaciendo cada una de las necesidades de una manera eficiente, eficaz y competitiva, aportando valor a nuestros clientes.
                                    
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                VISION
                                </a>
                            </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                <p>
                                    Ser líderes en soluciones integrales y competitivas a la medida en cada una de las líneas de negocio, convirtiéndonos en un aliado estratégico de nuestros clientes, para lograr un crecimiento rentable y sostenido de nuestra empresa y sus grupos de interés.
                                    
                                </p>
                            </div>
                            </div>
                        </div>
        
                    </div>
                </article>
        <aside class="col-12 col-md-4">
            <img class="img-nosotros" src="images/nosotroscont.svg" alt="Nosotros">
        </aside>

            </div>
        </div>
    </main>
    <% include partials/footer.html %>  

      <!-- MODAL RECURSOS HUMANOS -->

    <div class="modal fade" id="servicio3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Recursos Humanos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <img class="img-fluid " src="images/rrhh.png" alt="recursos humanos">
                    </div>
                    <div class="col-md-10 mx-auto"> 
                        <h3>OBJETIVO</h3>
                        <p>Apoyamos los procesos de selección de personal a través del  desarrollo de  evaluaciones de seguridad a los aspirantes a ingresar a la compañía ó a los que actualmente laboran en ellas, a fin de disminuir los riesgos que pudieran ocurrir al interior y afecten sus procesos. </p> 
      
                        <div id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="card">
                              <div class="card-header coffe" role="tab" id="headingOne">
                              <h5 class="mb-0">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOnee" aria-expanded="true" aria-controls="collapseOne">
                                  VISITA DOMICILIARIA Y DE VECINDARIO
                                  </a>
                              </h5>
                              </div>
                              <div id="collapseOnee" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                              <div class="card-block">
                                  <img class="img-modal" src="images/visita.png" alt="vicita domiciliaria y de vecindario">
                                  <ul>En la visita domiciliaria se realiza las siguientes verificaciones:
                                    <li>Registro fotográfico​</li>
                                    <li>Documentación de identificación y estudios académicos​</li>
                                    <li>Verificación del vecindario del candidato con las respectivas autorizaciones.​</li>
                                    <li>Composición del núcleo familiar​</li>
                                    <li>Nivel socio-económico</li>
                                    <li>Contexto familiar del aspirante, a fin de conocer la calidad, el nivel de vida y las relaciones del aspirante en su hogar; aspectos relevantes a evaluar que impactan directamente sobre la cultura organizacional.​</li>
                                  </ul>
                              </div>
                              </div>
                          </div>

                          <div class="card">
                              <div class="card-header" role="tab" id="headingTwo">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoo" aria-expanded="false" aria-controls="collapseTwo">
                                  CONSULTA DE ANTECEDENTES
                                  </a>
                              </h5>
                              </div>
                              <div id="collapseTwoo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-block">
                                  <ul>
                                    <li>Validamos la información aportada en las hojas de vida de los candidatos mediante consultas directas y fuentes de información.</li>
                                    <li>Verificación de antecedentes judiciales: Verificamos aspectos penales y judiciales ante los diferentes organismos de seguridad del estado (Previa autorización del candidato)</li>
                                    <li>Procesos administrativos: Enriquecimiento ilícito, soborno, tráfico de influencias, prevaricato, abuso de función, entre otros.</li>
                                    <li>Información financiera: Verificación ante las centrales de Riesgo (Cifin y/o Datacredito) sobre los hábitos de pago del candidato (previa autorización del candidato).</li>
                                    <li>Referencias personales: Comunicación directa con las personas relacionadas en la hoja de vida, para obtener información adicional sobre el candidato.</li>
                                    <li>Listas de riesgo: base de datos que consolida la información mundial de personas de alto riesgo involucradas en operaciones ilícitas como lavado de dinero, fraude, terrorismo y corrupción.</li>
                                  </ul>
                              </div>
                              </div>
                          </div>

                          <div class="card">
                              <div class="card-header coffe" role="tab" id="headingTres">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTres" aria-expanded="false" aria-controls="collapseTwo">
                                  POLÍGRAFO
                                  </a>
                              </h5>
                              </div>
                              <div id="collapseTres" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-block">
                                  <img class="img-modal" src="images/polirafo.jpg" alt="poligrafo">
                                  <ul>
                                    <li>PRUEBA PRE EMPLEO: Se utiliza para conocer en detalle elementos de lealtad, honestidad y confiabilidad en los procesos de selección o al iniciar la contratación de un posible candidato.</li>
                                    <li>PRUEBA DE RUTINA O DE PERMANENCIA: Es una aplicación poligráfica que se aplica antes de renovar un contrato y tiene como objetivo que la empresa, evalúe periódicamente al personal para garantizar la confiabilidad en el desempeño del cargo y desvirtuar hechos de deshonestidad que puedan vulnerar a la organización.​</li>
                                    <li>PRUEBA ESPECÍFICA: La prueba poligráfica de caso específico o investigativo, tiene como propósito confirmar o desvirtuar si el evaluado participó o no en la actividad ilícita que se encuentra bajo investigación.</li>
                                  </ul>
                                  <p>¿QUÉ DATOS SE VERIFICAN EN EL POLÍGRAFO?​</p>
                                  <ul>
                                    <li>Información personal y familiar​</li>
                                    <li>Información Académica</li>
                                    <li>Historial y conducta laboral</li>
                                    <li>Información financiera</li>
                                    <li>Antecedentes de Tránsito </li>
                                    <li>Antecedentes judiciales</li>
                                    <li>Actividades delictivas, como robos, jineteo, fraudes, saqueos y otros delitos</li>
                                    <li>Vínculos con personas o grupos al margen de la ley.</li>
                                    <li>Consumo constante de bebidas alcohólicas y/o drogas ilegales​</li>
                                    <li>Motivos reales por los que se desea ingresar a la empresa solicitante​</li>
                                    <li>Descartar hechos de fraude, referente a información y documentación falsa para acceder al empleo.</li>
                                  </ul>
                                  
                              </div>
                              </div>
                          </div>

                          <div class="card">
                              <div class="card-header" role="tab" id="headingCuatro">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCuatro" aria-expanded="false" aria-controls="collapseTwo">
                                  ¿CÓMO SE DEBE SOLICITAR EL SERVICIO?​
                                  </a>
                              </h5>
                              </div>
                              <div id="collapseCuatro" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-block">
                                  <p>La solicitud y formalización de los servicios, se debe hacer con una orden de compra o firma de contrato con mínimo dos días antes al inicio de actividades. ​</p>
                                  <h5>TIEMPO Y FORMA DE ENTREGA </h5>
                                  <p>
                                    Una vez formalizado el servicio, se acordará la programación, después de ejecutadas las actividades se enviará el informe a la persona designada por el cliente vía correo electrónico, por seguridad se recomienda que dichas personas tengan firmado un acuerdo de confidencialidad. 
                                  </p>
                              </div>
                              </div>
                          </div>
                    </div>

                    <section class="contacto">
                        <div class="contacto_container">
                            <h2 class="contacto_title">¿Mas información? Contáctanos</h2>
                            <p>Estamos aquí para ayudarte. Contáctanos por teléfono o mediante nuestro correo electronico. </p>
                        </div>
                        <div class="sabermas_container">
                            <a class="sabermas" href="contacto.html">Contactar</a>  
                         </div>
                    </section>
                </div>  
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL2 -->
    <div class="modal fade" id="servicio2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gerencia de Proyectos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <img class="img-fluid " src="images/gerencia_proyectos.jpg" alt="Gerencia de proyectos">
                        </div>
                        <div class="col-md-10 mx-auto">
                             <h3>OBJETIVO</h3>
                            <p>Gestionamos sus proyectos para la implementación de soluciones de TI, proyectos de consultoría en Seguridad de la Información ISO 27001 y proyectos de Implementación de planes de continuidad de negocio y recuperación de desastres, de acuerdo a las mejoras practicas PMI</p>
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="card">
                                  <div class="card-header" role="tab" id="headingOnee">
                                  <h5 class="mb-0">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOneei" aria-expanded="true" aria-controls="collapseOnee">
                                      GESTIÓN DE PROYECTOS
                                      </a>
                                  </h5>
                                  </div>
                                  <div id="collapseOneei" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="card-block">
                                     <p>Gestionamos sus proyectos para la implementación de soluciones de TI, proyectos de consultoría en Seguridad de la Información ISO 27001 y proyectos de Implementación de planes de continuidad de negocio y recuperación de desastres, de acuerdo a las mejoras practicas PMI</p>
                                  </div>
                                  </div>
                              </div> 
    
                              <div class="card">
                                  <div class="card-header" role="tab" id="headingOne">
                                  <h5 class="mb-0">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwoou" aria-expanded="false" aria-controls="collapseOne">
                                        CAPACITACIÓN CON HERRAMIENTAS
                                      </a>
                                  </h5>
                                  </div>
                                  <div id="collapseTwoou" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="card-block">
                                      <p>Capacitación al equipo de gerencia de proyectos en la utilización de la herramientas de gerenciamiento de proyectos como Primavera de Oracle y PPM de CA de acuerdo a las mejores prácticas del PMI</p>
                                  </div>
                                  </div>
                              </div> 
    
                            <div class="card">
                                  <div class="card-header" role="tab" id="headingThree">
                                  <h5 class="mb-0">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                                        CREACIÓN PMO
                                      </a>
                                  </h5>
                                  </div>
                                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="card-block">
                                      <p>Asesoramos al equipo de gerencia de proyectos para la definición de las mejores prácticas de gerenciamiento de proyectos dentro de su organización, así mismo apoyamos la estrategia de implantación y resistencia al cambio de las diferentes áreas.</p>
                                  </div>
                                  </div>
                              </div> 
                        </div>
                        </div>
                        <section class="contacto">
                            <div class="contacto_container">
                                <h2 class="contacto_title">¿Mas información? Contáctanos</h2>
                                <p>Estamos aquí para ayudarte. Contáctanos por teléfono o mediante nuestro correo electronico. </p>
                            </div>
                            <div class="sabermas_container">
                                <a class="sabermas" href="contacto.html">Contactar</a>  
                             </div>
              
                        </section>
                    </div>  
                </div>
                
            </div>
        </div>
        </div>

   
    <!--MODAL4-->
    <div class="modal fade" id="servicio4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desarrollo web</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <img class="img-fluid " src="images/webAS.jpg" alt="">
                    </div>
                    <div class="col-md-10 mx-auto">
                        <h3>Diseño y Desarrollo web</h3>
                        <p>Diseñamos novedosos y modernos diseños que cuentan con las siguientes características:</p>
                        <ul>
                            <li>Diseño responsive: Tu sitio web responderá  tanto para equipos de escritorio como para dispositivos móviles.</li>   
                            <li>Diseño de logo: creamos desde cero un logo personalizado para tu empresa.</li>
                            <li>Ecommerce: Extiende tu negocio y date a conocer con un tienda virtual.</li>
                            <li>Página Web Corporativa</li>
                            <li>Diseño personalizado: La  página web se realizará de acuerdo a las necesidades de tu empresa.</li>
                        </ul>
                        <h3>Posicionamiento web en google/SEO</h3>
                        <p >A parte de crear tu pagina web, hacemos que esta se ubiqué en las primeras posiciones en el buscador de google.</p>
                        <ul>
                            <li >Nos encargamos de hacer todo lo necesario para llevar trafico a tu sitio web diseñando estrategias y planes de marketing de tu compañía. </li>
                            
                        </ul>
                    </div>
                    <section class="contacto">
                        <div class="contacto_container">
                            <h2 class="contacto_title">¿Mas información? Contáctanos</h2>
                            <p>Estamos aquí para ayudarte. Contáctanos por teléfono o mediante nuestro correo electronico. </p>
                        </div>
                        <div class="sabermas_container">
                            <a class="sabermas" href="contacto.html">Contactar</a>  
                         </div>
          
                    </section>
                </div>  
            </div>
            
        </div>
    </div>
    </div>


    <!--MODAL SEGURIDAD SALUD EN EL TRABAJO-->
    <div class="modal fade" id="servicio5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seguridad y Salud en el Trabajo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <img class="img-fluid " src="images/seguridad2.jpg" alt="Sistema de Seguridad y Salud en el Trabajo">
                        </div>
                        <div class="col-md-10 mx-auto"> 
                            <h3>Gestión del Sistema Seguridad y Salud en el Trabajo</h3>
                            <p>Diseñamos e implementamos sus Sistema de Gestión se Seguridad y Salud en el trabajo para prevenir
                                las lesiones y enfermedades causadas por las condiciones de trabajo, proteger y promover la salud de los trabajadores.
                            </p>
                            <ul>
                                <li>Servicios de diagnósticos del estado de su SG-SST, medimos la madures del sistema.</li>   
                                <li>Servicios de diagnóstico general de riesgos.</li>
                                <li> Elaborar el Diseño el SG - SST a la medida .</li>
                                <li>Implementar el SG - SST en su empresa; construir el plan de emergencia, procedimientos de accidentes de trabajo y enfermedades laborales.</li>
                                <li>Realizar sensibilizaciones de una manera lúdica y participativa.</li>
                                <li>Probar el sistema mediante simulacros</li>
                            </ul>
                            
                        <section class="contacto">
                            <div class="contacto_container">
                                <h2 class="contacto_title">¿Mas información? Contáctanos</h2>
                                <p>Estamos aquí para ayudarte. Contáctanos por teléfono o mediante nuestro correo electronico. </p>
                            </div>
                            <div class="sabermas_container">
                                <a class="sabermas" href="contacto.html">Contactar</a>  
                             </div>
              
                        </section>
                    </div>  
                </div>
                
            </div>
        </div>
        </div>

   
</body>
</html>