<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comunicacion Digital</title>
    <% include partials/head.html %>
</head>
<body>
	<header class="encabezado navbar fixed-top">
		<% include partials/navegacion.html %>
	</header> 
	<div class="servicioComDig">
		<figure class="contenedorImg">
			<img src="/images/comdigital.jpeg" alt="Comunicacion Digital" class="imgComDig">
		</figure>
		<div class="texto">Ayudamos a comunicar de manera efectiva información valiosa para tu empresa a través del internet. En otras palabras posicionamos tu empresa en un espacio digital a través de una amplia variedad de herramientas y experiencia.</div>
		<div class="texto2">
			<h2>GOOGLE</h2>
			<ul>
				<li>Campañas de búsqueda</li>
				<li>Campañas de display</li>
				<li>Campañas de youtube</li>
				<li>Implementación google MyBusines (maps)</li>
				<li>Analytics</li>
			</ul>
		</div>
		<div class="texto3">
			<h2>DISEÑO</h2>
			<ul>
				<li>Manual de marca</li>
				<li>Diseño de pautas</li>
				<li>Diseño de Banners</li>
				<li>Diseño de marca</li>
				<li>Diseño web y experiencia de usuario</li>
			</ul>
		</div>
		<div class="texto4">
				<h2>PÁGINAS WEB</h2>
				<ul>
					<li>Wix</li>
					<li>Wordpress</li>
					<li>Html5</li>
				</ul>
			</div>
		<div class="texto5">
			<h2>INSTAGRAM</h2>
			<ul>
				<li>Pautas</li>
				<li>Cronogramas y planeación</li>
				<li>Tiendas en Instagram</li>
				<li>Copys</li>
				<li>Informes</li>
			</ul>
		</div>
		<div class="texto6">
			<h2>FACEBOOK</h2>
			<ul>
				<li>Pautas</li>
				<li>Fan Page</li>
				<li>Tiendas en Facebook</li>
				<li>Aumento de seguidores</li>
				<li>Informe</li>
			</ul>
		</div>
		<div class="texto7">
			<h2>CONSULTORIAS</h2>
			<ul>
				<li>Brief incial de marca</li>
				<li>Correlación y rendimiento de la inversión publicitaria y de ventas</li>
				<li>Asesoría para uso de canales de comunicación</li>
				<li>Asesoría en presupuesto publicitario</li>
			</ul>
		</div>
		<div class="texto8">
			<h2>EMAIL MARKETING</h2>
			<ul>
				<li>Desarrollo de campañas creativas</li>
				<li>Automatización de correos</li>
				<li>Envío de correos masivos</li>
			</ul>
		</div>

	</div>

	<% include partials/contactoRapido.html %>
	
	<% include partials/footer.html %>
    
</body>
</html>