<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Servcicio Gerencia de Proyectos</title>
    <% include partials/head.html %>    
</head>
<body>
    <header class="encabezado navbar fixed-top">
        <% include partials/navegacion.html %>
	 </header>
	 <h1 class="tituloServicio">GERENCIA DE PROYECTOS</h1>
    <section class="container-servicio">
		<p class="objetivoServicio">
			Gestionamos sus proyectos para la implementación de soluciones de TI, proyectos de consultoría en Seguridad de la Información ISO 27001 y proyectos de Implementación de planes de continuidad de negocio y recuperación de desastres, de acuerdo a las mejoras practicas PMI
		</p>
		<div class="prueba">
			<ul>
				<li>
					<h2>GESTION DE PROYECTOS</h2>
					<p>
						Gestionamos sus proyectos para la implementación de soluciones de TI, proyectos de consultoría en Seguridad de la Información ISO 27001 y proyectos de Implementación de planes de continuidad de negocio y recuperación de desastres, de acuerdo a las mejoras practicas PMI
					</p>
				</li>
				<li>
					<h2>CAPACITACION CON HERRAMIENTAS</h2>
					<p>
						Capacitación al equipo de gerencia de proyectos en la utilización de la herramientas de gerenciamiento de proyectos como Primavera de Oracle y PPM de CA de acuerdo a las mejores prácticas del PMI
					</p>
				</li>
				<li>
					<h2>CREACION PMO</h2>
					<p>
						Asesoramos al equipo de gerencia de proyectos para la definición de las mejores prácticas de gerenciamiento de proyectos dentro de su organización, así mismo apoyamos la estrategia de implantación y resistencia al cambio de las diferentes áreas.
					</p>
				</li>
			</ul>
			<figure>
				<img src="/images/gerencia_proyectos.jpg" alt="Gerencia de proyectos" class="imgGerProy">
			</figure>
		</div>
		
		
		
	 </section>
	<% include partials/contactoRapido.html %>
	 
    <% include partials/footer.html %>
    
</body>
</html>