<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	 <title>Seguridad y Salud en el Tranajo</title>
	 <% include partials/head.html %> 
</head>
<body>
	<header class="encabezado navbar fixed-top">
		<% include partials/navegacion.html %>
	</header>
	<h1 class="tituloServicio">SEGURIDAD Y SALUD EN EL TRABAJO</h1>
    <section class="container-servicio">
		
		<p class="objetivoServicio">
			Diseñamos e implementamos sus Sistema de Gestión se Seguridad y Salud en el trabajo para prevenir las lesiones y enfermedades causadas por las condiciones de trabajo, proteger y promover la salud de los trabajadores.
		</p>
		<ul>
			<li>
				Servicios de diagnósticos del estado de su SG-SST, medimos la madures del sistema.
			</li>
			<li>
				Servicios de diagnóstico general de riesgos.
			</li>
			<li>
				Elaborar el Diseño el SG - SST a la medida.
			</li>
			<li>Implementar el SG - SST en su empresa; construir el plan de emergencia, procedimientos de accidentes de trabajo y enfermedades laborales.</li>
			<li>
				Realizar sensibilizaciones de una manera lúdica y participativa.
			</li>
			<li>Probar el sistema mediante simulacro</li>
		</ul>
		<figure>
			<img src="/images/seguridad2.jpg" alt="Gerencia de proyectos" class="imgGerProy">
		</figure>
		
	 </section>
	<% include partials/contactoRapido.html %>
	 
    <% include partials/footer.html %>
    

    
</body>
</html>