<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestion de Recursos Humanos</title>
    <% include partials/head.html %>    

</head>
<body>
	<header class="encabezado navbar fixed-top">
		<% include partials/navegacion.html %>
	</header>
	<h1 class="tituloServicio">GESTION DE RECURSOS HAMANOS</h1>
	<section class="container-servicio">
	  
	  <p class="objetivoServicio">
			Apoyamos los procesos de selección de personal a través del  desarrollo de  evaluaciones de seguridad a los aspirantes a ingresar a la compañía ó a los que actualmente laboran en ellas, a fin de disminuir los riesgos que pudieran ocurrir al interior y afecten sus procesos.
	  </p>
	  <ul>
		  <li>
			  <h2>VISITA DOMICILIARIA Y DE VECINDARIO</h2>
			  <ul>
					En la visita domiciliaria se realiza las siguientes verificaciones:
				  <li>Registro fotográfico​</li>
				  <li>Documentación de identificación y estudios académicos​</li>
				  <li>Verificación del vecindario del candidato con las respectivas autorizaciones.​</li>
				  <li>Composición del núcleo familiar​</li>
				  <li>Nivel socio-económico</li>
				  <li>Contexto familiar del aspirante, a fin de conocer la calidad, el nivel de vida y las relaciones del aspirante en su hogar; aspectos relevantes a evaluar que impactan directamente sobre la cultura organizacional.​</li>
			  </ul>
		  </li>
		  <li>
			  <h2>CONSULTA DE ANTECEDENTES</h2>
			  <ul>
				  <li>Validamos la información aportada en las hojas de vida de los candidatos mediante consultas directas y fuentes de información.</li>
				  <li>Verificación de antecedentes judiciales: Verificamos aspectos penales y judiciales ante los diferentes organismos de seguridad del estado (Previa autorización del candidato)</li>
				  <li>Procesos administrativos: Enriquecimiento ilícito, soborno, tráfico de influencias, prevaricato, abuso de función, entre otros.</li>
				  <li>Procesos administrativos: Enriquecimiento ilícito, soborno, tráfico de influencias, prevaricato, abuso de función, entre otros.</li>
				  <li>Referencias personales: Comunicación directa con las personas relacionadas en la hoja de vida, para obtener información adicional sobre el candidato.</li>
				  <li>Listas de riesgo: base de datos que consolida la información mundial de personas de alto riesgo involucradas en operaciones ilícitas como lavado de dinero, fraude, terrorismo y corrupción.</li>
			  </ul>
		  </li>
		  <li>
			  <h2>POLÍGRAFO</h2>
			  <ul>
				  <li>PRUEBA PRE EMPLEO: Se utiliza para conocer en detalle elementos de lealtad, honestidad y confiabilidad en los procesos de selección o al iniciar la contratación de un posible candidato.</li>
				  <li>PRUEBA DE RUTINA O DE PERMANENCIA: Es una aplicación poligráfica que se aplica antes de renovar un contrato y tiene como objetivo que la empresa, evalúe periódicamente al personal para garantizar la confiabilidad en el desempeño del cargo y desvirtuar hechos de deshonestidad que puedan vulnerar a la organización.​</li>
				  <li>PRUEBA ESPECÍFICA: La prueba poligráfica de caso específico o investigativo, tiene como propósito confirmar o desvirtuar si el evaluado participó o no en la actividad ilícita que se encuentra bajo investigación.</li>
				  <p>¿QUÉ DATOS SE VERIFICAN EN EL POLÍGRAFO?​</p>	
				  <li>Información personal y familiar​</li>
				  <li>Información Académica</li>
				  <li>Historial y conducta laboral</li>
				  <li>Información financiera</li>
				  <li>Antecedentes de Tránsito 
					</li>
				  <li>Antecedentes judiciales
					</li>
				  <li>Actividades delictivas, como robos, jineteo, fraudes, saqueos y otros delitos</li>
				  <li>Vínculos con personas o grupos al margen de la ley.</li>
				  <li>Consumo constante de bebidas alcohólicas y/o drogas ilegales​</li>
				  <li>Motivos reales por los que se desea ingresar a la empresa solicitante​</li>
				  <li>Descartar hechos de fraude, referente a información y documentación falsa para acceder al empleo.</li>
			  </ul>
		  </li>
		  <li>
			  <h2>¿CÓMO SE DEBE SOLICITAR EL SERVICIO?​</h2>
			  <p>
					La solicitud y formalización de los servicios, se debe hacer con una orden de compra o firma de contrato con mínimo dos días antes al inicio de actividades. ​

					TIEMPO Y FORMA DE ENTREGA 
					Una vez formalizado el servicio, se acordará la programación, después de ejecutadas las actividades se enviará el informe a la persona designada por el cliente vía correo electrónico, por seguridad se recomienda que dichas personas tengan firmado un acuerdo de confidencialidad.  
			  </p>
		  </li>
	  </ul>
	  <figure>
		  <img src="/images/rrhh.png" alt="Gerencia de proyectos" class="imgGerProy">
	  </figure>
	  
	</section>
  <% include partials/contactoRapido.html %>
	
	<% include partials/footer.html %>
</body>
</html>