<footer class="footer" role="contentinfo">
    <div class="footercontainer">
        <div class="footermenu">            
                <p>Paginas</p>
                <a href="/nosotros" class="amenu">Nosotros</a>
                <a href="/servicios" class="amenu">Servicios</a>
                <a href="/contacto" class="amenu">Contacto</a>
        </div>
        <div class="footercontacto">
                <p class="formulario-description">
                    <p class="ndir">Nuestra Direccion</p>
                    <p class="dir">Bogotá, Colombia, Tr 96A #76b-50</p>
                    <p class="ndir">Llámanos</p>
                    <p class="tel">314-320-4600 <br> 321-272-4753 <br>321 274 13 38</p>
                 </p> 
            </div>
            <div class="footerinfo">
                 <p class="sg_rs"> Siguenos en nuestras redes sociales</p>
                 <!--<a class="facebook" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>-->
                 <a class="instagram" target="_blank" href="https://co.linkedin.com/company/aristos-soluciones-s.a.s"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                 <a class="twitter" target="_blank" href="https://twitter.com/Aristos_SAS?lang=es"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
      </div>
 </footer>

 <a data-scroll class="ir-arriba" href="#scrolltres"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
	<script src="/js/wow.min.js" type="text/javascript"></script>
    <script src="/js/smooth-scroll.min.js" type="text/javascript"></script>
	<script src="/js/index.js" type="text/javascript" ></script>